_BACKUP/
liballeg_w32/
libsamplerate/
obj/
_RELEASE/
docs/data/raw
docs/private
*.cpb
*.depend
*.exe
*.layout
*.rom
*.aux
*.log
*.out
*.toc
*.bak
*.backup
/resources/gui/repl
/bintracker
/run_checks.sh
