_BACKUP/
allegro5/
libsamplerate/
obj/
_RELEASE/
docs/data/raw
docs/private
CMakeFiles/
*.cbp
*.depend
*.exe
*.layout
*.rom
*.aux
*.log
*.out
*.toc
*.bak
*.backup
*.cmake
Makefile
CMakeCache.txt
compile_commands.json
/resources/gui/repl
/bintracker
/run_checks.sh
/run-clang-tidy.py
